.bigdata{
	font-size: 1.5em;
	display: inline-block;
	margin-top: 30px;
}

.hassle{
	background-color: #EE3361;
	color: white;
}

body{
	background-color: #f9fafc
}

.material-icons{
	font-size: 83px;
	height: 120px;
	width: 120px;
}

.big{
	height: 271px;
	color: white;
	font-size: 200px;
	margin-top: 10%;
}

.main{
  font-weight: 300;
}



.bubble-outline-pink
{
float: right;
color: #222328;
text-align: center;
font-weight: 300;
width: auto;
height:auto;
min-height:24px;
max-width:76%;
padding: 20px;
margin-bottom: 15px;
margin-top: 15px;
background: transparent;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
border-style: solid;
border-width: 2px 2px 2px 2px;
border-color: #EE3361;
}

.bubble-outline-white
{
float: right;
color: #FFFFFF;
text-align: center;
font-weight: 300;
position: relative;
width: auto;
height:auto;
min-height:24px;
max-width:76%;
padding: 20px;
background: transparent;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
border-style: solid;
border-width: 2px 2px 2px 2px;
border-color: #FFFFFF;
}

.bubble-pink
{
float: left;
color: #FFFFFF;
text-align: center;
font-weight: 200;
width: auto;
height:auto;
min-height:24px;
max-width:76%;
padding: 20px;
margin-top: 15px;
margin-bottom: 15px;
background: #EE3361;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
border-style: solid;
border-width: 2px 2px 2px 2px;
border-color: #EE3361;
}

.bolder{
	font-weight: 500;
}

.bubble-white
{
float: left;
color: #EE3361;
text-align: center;
font-weight: 300;
width: auto;
height:auto;
min-height:24px;
max-width:76%;

padding: 20px;
background: #FFFFFF;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
border-style: solid;
border-width: 2px 2px 2px 2px;
border-color: #FFFFFF;
}

.pink{
	background-color: #EE3361;
}
